*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color:#8CC461;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

#stars{
    position: absolute;
    margin-top: -22rem;
    animation: zoomInOut 2s infinite ;
}

@keyframes zoomInOut {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.2);
        }
}

h1{
    color: #FFFFFF;
    font-size: 100px;
    margin-top: 1rem;
    font-weight: 600;
    letter-spacing: 10px;
}

h2{
    color: #FFFFFF;
    font-size: 40px;
    /* margin-top: 1rem; */
    margin-bottom: 2rem;
    font-weight: 600;
    letter-spacing: 2px;
}

button{
    height: 2.5rem;
    width: 8rem;
    background-color: #ffffff;
    border-color: #ffffff;
    border-style: solid;
    color: #6B6B6B;
    border-radius: 12px;
    letter-spacing: 1px;
}

.rules-box2{
    position: absolute;
    height: 2.5rem;
    width: 8rem;
    border-radius: 8px;
    border-style: solid;
    border-color: #ffffff;
    top: 42rem;
    right: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.rules-box2 h3{
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-weight: 400;
    color: #ffffff;
    letter-spacing: 2px;
}

.rules{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    height: 21rem;
    width: 17rem;
    background-color: #004429;
    top: 20rem;
    right: 5rem;
    border-radius: 12px;
    border-width: 8px;
    border-style: solid;
    border-color: #ffffff;
    padding: 10px;
    color: #ffffff;
}

.rules h1{
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 1px;
    margin-top: -10px;
}

.rules li::marker{
    color: #FFD600;
    font-size: 16px;
}

.rules li{
    font-size: 13px;
    margin-left: 15px;
    letter-spacing: 1px;
    font-weight: 100;
    margin-top: 8px;
    list-style: square;

}

.rules-close{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    width: 3.5rem;
    position: absolute;
    background-color: #FF0000;
    top: 18.5rem;
    right: 3.6rem;
    border-radius: 50%;
    border-width: 7px;
    border-style: solid;
    border-color: #ffffff;
    cursor: pointer;
}

.rules-close h4{
    font-family: 'Dangrek', sans-serif;
    color: #ffffff;
    font-size: 35px;
}